{% extends "base.html.twig" %}

{% block title %}{{ program.title }} #{{ season.number }}{% endblock %}

{% block body %}

    <h1 class="mt-0">{{ program.title }} - Saison {{ season.number }} - Episode {{ episode.number }}</h1>
    <h2>{{ episode.title }}</h2>
    <p>Résumé de l'épisode :</p>
    <p>{{ episode.synopsis }}</p>
    <ul>
        {% for comment in episode.comments %}
            <br>
            <li>
                <p>Auteur : {{ comment.user.email }}</p>
                <p>Note : {{ comment.rate }}</p>
                <p>Commentaire : {{ comment.comment }}</p>
            </li>
            <br>
            {% if is_granted("ROLE_ADMIN") or app.user == comment.user %}
                {{ include('programs/_delete_comment.html.twig') }}
            {% endif %}
        {% else %}
            <p>Aucun commentaire n'a été rédigé pour cet épisode.</p>
        {% endfor %}
    </ul>
    {% if app.user %}
        <div>
            <p>Commentaires</p>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type='submit' value='Publier mon commentaire'>
            {{ form_end(form) }}
        </div>
    {% endif %}
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}